.App {
    height: 100vh;
    cursor: default;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica";
}

.buttons-container .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 3;
}

.buttons-container {
    display: flex;
    flex: 1;
}

.buttons-container .container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.zero-value {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: flex-start;
    padding: 0 11px;
}
